@page "/eventsviews"
@page "/eventsviews/{DateParam}"
@using DemoApiLib.Models.ApiModels
@using DemoSite.Content.Scheduler
@using DemoSite.Utilities

<h1 style="text-align:center">Wochenplanner</h1>

<h3>Kalenderwoche: @calendarWeek</h3>
<br />
<WeekView DateMax=7 StartDate="@startDate" />

@code {

    [Parameter]
    public string DateParam { get; set; }

    private DateOnly startDate;
    private int calendarWeek;

    protected override void OnInitialized()
    {
        if (DateOnly.TryParse(DateParam, out var parsedDate))
        {
            startDate = DatesUtilities.GetMondayOfWeek(parsedDate);
        }
        else
        {
            startDate = DatesUtilities.GetMondayOfCurrentWeek();
        }

        calendarWeek = DatesUtilities.GetWeekOfYear(startDate);
    }
}
}