@page "/eventsviews"
@using DemoApiLib.Models.ApiModels
@using DemoSite.Content.Scheduler

<h1 style="text-align:center">Schedules</h1>
<button class="btn btn-primary" @onclick="IncaseDateCount">IncaseDateCount</button>
<button class="btn btn-primary" @onclick="DecaseDateCount">DecaseDateCount</button>

<br />


<WeekView DateMax="dateMax" StartDate="@startDate" />

@code {
    private int dateMax = 1;

    private DateOnly startDate = DateOnly.FromDateTime(DateTime.Today).AddDays(-(int)DateTime.Today.DayOfWeek);

    private void IncaseDateCount()
    {
        dateMax = ClampValue(dateMax + 1, 0, 7);
    }
    private void DecaseDateCount()
    {
        dateMax = ClampValue(dateMax - 1, 0, 7);
    }

    private static int ClampValue(int input, int min, int max)
    {
        if (input < min) return min;
        if (input > max) return max;

        return input;

    }

}